/* html {
    /* min-height: 100%; 
   background-image: url(../assets/bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   /* background-position: center center; 
   padding: 0;
   margin: 0;
 } */
 /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');
 *{
     margin: 0;
     padding: 0;
     
 }
body{
    background-image: url('bg.png');
    background-repeat: no-repeat; 
    background-size: cover;
}
.left{
    display: flex;
    text-decoration: none;
}
.left ul{
    text-decoration: none;
    display: flex;
}
.head{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

button.btn-outline-light:hover{
    color: yell;
}
/*  */
/* CIRCLES */
/* .area {
    background: transparent;
    width: 100%;
  }
  
  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #fff;
    animation: animate 15s linear infinite;
    bottom: -150px;
  }
  
  .circles li:nth-child(1) {
    left: 20%;
    width: 30px;
    height: 30px;
    animation-delay: 1s;
    animation-duration: 12s;
    border: solid 4px #cc0001;
    background: transparent;
  }
  
  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    border: solid 4px #ffffff;
    background: transparent;
  }
  
  .circles li:nth-child(3) {
    left: 80%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    border: solid 4px #7CFC00;
    background: transparent;
  }
  
  .circles li:nth-child(4) {
    left: 60%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 6s;
    border: solid 4px white;
    background: transparent;
  }
  
  .circles li:nth-child(5) {
    left: 25%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
    border: solid 4px #4166F5;
    background: transparent;
  }
  
  .circles li:nth-child(6) {
    left: 75%;
    width: 15px;
    height: 15px;
    animation-delay: 6s;
    border: solid 4px yellow;
    background: transparent;
  }
  
  .circles li:nth-child(7) {
    left: 35%;
    width: 20px;
    height: 20px;
    animation-delay: 5s;
    border: solid 5px #7CFC00;
    background: transparent;
  }
  
  .circles li:nth-child(8) {
    left: 50%;
    width: 18px;
    height: 18px;
    animation-delay: 15s;
    animation-duration: 8s;
    border: solid 4px #4166F5;
    background: transparent;
  }
  
  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 6s;
    border: solid 4px red;
    background: transparent;
  }
  
  .circles li:nth-child(10) {
    left: 25%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 6s;
    border: solid 4px #7CFC00;
    background: transparent;
  }
  
  .circles li:nth-child(11) {
    left: 45%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 5s;
    border: solid 4px #FFF44F;
    background: transparent;
  }
  
  .circles li:nth-child(12) {
    left: 85%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 7s;
    border: solid 4px #FFF44F;
    background: transparent;
  }
  
  .circles li:nth-child(13) {
    left: 38%;
    width: 15px;
    height: 15px;
    animation-delay: 4s;
    animation-duration: 6s;
    border: solid 4px #FFF44F;
    background: transparent;
  }
  
  .circles li:nth-child(14) {
    left: 42%;
    width: 25px;
    height: 25px;
    animation-delay: 3s;
    animation-duration: 5s;
    border: solid 4px #4166F5;
    background: transparent;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
  
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 100%;
    } */
  /* } */